h1{
    color:red;
    border: 2px dashed black;;
}
.card{
    border:2px solid black;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;

    
}
.card img{
    width: 100%;
}
.card button{
    width:70%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.card button:hover{
    background-color: black;
    color:white;
    cursor:pointer
}